*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
a:hover{
    text-decoration-line: underline;
    background-color: #ffffff;
}
.navbar{
    position: relative;
    background-color: #f1c893;
    width: 100%;
    box-shadow: 0 5px 10px #e1ba8f;
    display: flex;
    height: 100px;
    min-width: 200px;
}
.navbar .buttons{
    display: flex;
    margin: auto;
}
.navbar .btn{
    margin: 20px 40px;
}
.navbar a{
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1.3em;
}
.showBurger{
    display: none;
    position: absolute;
    bottom: 50%;
    width: 100%;
    justify-content: space-around;
    transform: translateY(50%);
}
.showBurger p{
    transform: translateY(-5px);
    cursor: default;
}
.burger{
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 25px;
}
.burger .line{
    height: 3px;
    width: 25px;
    background-color: black;
}
.burger .line2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.burger .line3{
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 650px){
    .navbar{
        height: 70px;
    }
    .navbar .buttons{
        margin: unset;
        transform: translateY(-500%);
        width: 98%;
    }
    .navbar .btn{
        padding: 6px;
        margin: 20px 0;
        width: 100%;
        text-align: center;
        background-color: #f3cc9a;
    }
    .showBurger{
        display: flex;
    }
    .navbar.clicked{
        height: 300px;
    }
    .showBurger.clicked{
        bottom: 30px;
    }
    .navbar .buttons.clicked{
        display: block;
        transform: translateY(0);
    }
}