*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
a:hover{
    text-decoration-line: underline;
    background-color: #f5dcbc;
}
.navbar{
    background-color: #f1c893;
    width: 100%;
    box-shadow: 0 5px 10px #e1ba8f;
    display: flex;
    height: 100px;
    justify-content: center;
}
.navbar .buttons{
    display: flex;
    margin: auto;
}
.navbar .btn{
    margin: 20px 40px;
}
.navbar a{
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1.3em;
}
.navbarB{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    height: 100px;
    width: 80px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #f1c893;
    box-shadow: 0 5px 10px #e1ba8f;
}
.navbarB .burger{
    width: 24px;
    position: relative;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.navbarB .line{
    background-color: black;
    height: 3px;
    width: 100%;
}
.navbarB .line1{
    transform: translateY(-5px);
}
.navbarB .line3{
    transform: translateY(5px);
}
.navbarB .buttons{
    position: absolute;
    justify-content: space-around;
    display: none;
    transform: translateY(-50%);
    top: 50%;
    left: 70px;
    width: 80%;
}
.navbarB .btn{
    margin: 10px 0;
}
.navbarB a{
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1.3em;
}
.clicked{
    width: 100%;
}
.clicked .buttons{
    display: flex;
}
@media screen and (max-width: 650px){
    .navbar{
        opacity: 0.4;
    }
    .navbar .buttons{
        display: none;
    }
    .navbarB{
        display: block;
    }
}